<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Личный кабинет</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='user_profile/styles.css') }}">
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="#" onclick="showSection('accounts')">Мои счета</a></li>
        <li><a href="#" onclick="showSection('open-account')">Открыть счет</a></li>
        <li><a href="#" onclick="showSection('transfers')">Переводы</a></li>
        <li><a href="#" onclick="exit()">Выход</a></li>
      </ul>
    </nav>
  </header>

  <section id="accounts" class="section">
    <h2>Мои счета</h2>
    <table>
      <thead>
        <tr>
          <th>Номер счета</th>
          <th>Тип счета</th>
          <th>Баланс</th>
          <th>Действия</th>
        </tr>
      </thead>
      <tbody>
        {% for account in accounts | sort(attribute='number') %}
        <tr>
          <td>{{ account.number }}</td>
          <td>{{ account.type }}</td>
          <td>{{ account.amount }} {{ account.currency}}</td>
          <td>
            <button>Подробнее</button>
            <button onclick="showPopup('{{ account.number }}')">Пополнить</button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <div id="popupContainer" style="display: none;">
      <div class="popup">
        <h2>Пополнение счета</h2>
        <form id="topUpForm" data-account_number="">
          <label for="accountNumber" id="accountNumberLabel"></label>
          <input type="text" id="phoneNumber" placeholder="Номер телефона">
          <input type="text" id="amount" placeholder="Сумма пополнения">
          <button type="submit">Подтвердить</button>
      </form>
      </div>
    </div>
  </section>

  <section id="open-account" class="section">
    <h2>Открыть новый счет</h2>
    <form id="openAccountForm" data-user_id="{{ user_id }}">
      <label for="accountType">Тип счета:</label>
      <select id="accountType">
        <option value="Депозитный счет">Депозитный счет</option>
        <option value="Кредитный счет">Кредитный счет</option>
      </select>
      <label for="accountCurrency">Валюта:</label>
      <select id="accountCurrency">
        <option value="USD">USD</option>
        <option value="EUR">EUR</option>
        <option value="RUB">RUB</option>
      </select>
      <button type="submit">Открыть</button>
    </form>
  </section>

  <section id="transfers" class="section">
    <h2>Перевод денег</h2>
    <form id="transferForm">
      <label for="fromAccount">Со счета:</label>
      <select id="fromAccount">
        {% for account in accounts | sort(attribute='number') %}
        <option value="{{ account.number }}">{{ account.number }}</option>
        {% endfor %}
      </select>
      <label for="toAccount">На счет:</label>
      <input type="text" id="toAccount" placeholder="Номер счета получателя">
      <label for="amount">Сумма:</label>
      <input type="text" id="transferAamount" placeholder="Сумма перевода">
      <button type="submit">Перевести</button>
    </form>
  </section>

  <footer>
    <p>&copy; 2023 Название банка. Все права защищены.</p>
  </footer>

  <script src="{{ url_for('static', filename='user_profile/script.js') }}"></script>
</body>
</html>
